.hero {
    background-image: linear-gradient(to top, rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../../assets/bgImg_header.jpg');
    background-size: cover;
    padding: 80px 90px 178px;

    &-hamburger {
        display: none;
    }
    
    &-partners {
        display: flex;
        align-items: center;
        
        &-logo {
            margin-right: 60px;

            &:last-child {
                margin-left: 0px;
            }
        }
    }

    &-navigation {
        margin-top: 45px;

        &-item {
            text-decoration: none;
            font-weight: normal;
            font-size: 19px;
            line-height: 22px;
            color: #fff;
            margin-left: 74px;

            &:first-child {
                margin-left: 0px;
            }
        }
    }

    &-title {
        width: 664px;
        font-weight: normal;
        font-size: 57px;
        line-height: 67px;
        color: #fff;
        margin: 108px 0px 132px;
    }

    &-link {
        display: inline-block;
        padding: 35px 151px;
        text-decoration: none;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        color: #fff;
        background-color: #B78A3F;
    }

    &-button {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: relative;
        height: 100vh;

        &-partners {

            &-logo {
                height: 45px;
                margin-right: 25px;

                &:first-child {
                    height: 75px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

        }

        &-title {
            margin-top: 230px;
            width: 374px;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
        }

        &-navigation {
            display: none;
        }

        &-link {
            position: absolute;
            top: 700px;
            left: 0px;
            padding: 24px calc((100vw - 140px)/2);
            font-size: 28px;
            line-height: 33px;

        }

        &-button {
            align-self: center;
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-top: 260px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #FFF;
            transform: rotate(45deg);
        }
    }
}