.hero {
    background-image: linear-gradient(to top, rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../../assets/bgImg_header.jpg');
    background-size: cover;
    padding: 80px 90px 178px;

    &-hamburger {
        display: none;
    }
    
    &-partners {
        display: flex;
        align-items: center;
        
        &-logo {
            margin-right: 60px;

            &:last-child {
                margin-left: 0px;
            }
        }
    }

    &-navigation {
        margin-top: 45px;

        &-item {
            text-decoration: none;
            font-weight: normal;
            font-size: 19px;
            line-height: 22px;
            color: #fff;
            margin-left: 74px;

            &:first-child {
                margin-left: 0px;
            }
        }
    }

    &-title {
        width: 664px;
        font-weight: normal;
        font-size: 57px;
        line-height: 67px;
        color: #fff;
        margin: 108px 0px 132px;
    }

    &-link {
        display: inline-block;
        padding: 35px 151px;
        text-decoration: none;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        color: #fff;
        background-color: #B78A3F;
    }

    &-button {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        padding: 0;
        box-sizing: border-box;
        position: relative;
        height: 100vh;

        &-partners {

            &-logo {
                height: 45px;
                margin-right: 25px;

                &:first-child {
                    height: 75px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

        }

        &-hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0px;
            box-sizing: border-box;
            padding: 18px 22px;
            height: 100vh;
            background-color: #737373;
            z-index: 1;

            &-control {
                display: flex;
                width: 100%;
                justify-content: space-between;

                &-X, &-hamIcon {
                    display: block;
                    font-weight: bolder;
                    font-size: 40px;
                    color: #FFF;
                }
            }

            &-navigation {
                display: flex;
                flex-direction: column;
                align-items: center;

                & > * {
                    margin: 20px 0;
                }
            }
        }

        &-title {
            margin-top: 230px;
            width: 374px;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
        }

        &-navigation {
            display: none;
        }

        &-link {
            position: absolute;
            top: 650px;
            left: 0px;
            padding: 24px calc((100vw - 140px)/2);
            font-size: 28px;
            line-height: 33px;

        }

        &-button {
            align-self: center;
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-top: 240px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #FFF;
            transform: rotate(45deg);
        }
    }
    .hero > .container {
        display: flex;
        flex-direction: column;
    }
}