.map {

    padding: 50px 90px;

    &-title {
        font-weight: normal;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        color: #FFFFFF;
    }

    &-container {
        margin: 56px 0;

        & > * {
            height: 90%;
        }
    }

    &-capture {
        font-weight: normal;
        font-size: 23px;
        line-height: 27px;
        color: #FFFFFF;
    }
}

.mapContainer {
    height: 560px;
}

@media screen and (max-width: 425px) {
    .map {

        padding: 35px 20px;
    
        &-title {
            font-size: 27px;
            line-height: 32px;
        }
    
        &-container {
            margin: 20px 15px;
    
            & > * {
                height: 90%;
            }
        }
    
        &-capture {
            font-size: 17px;
            line-height: 20px;
        }
    }
    
    .mapContainer {
        height: 560px;
    }
}