.policies {
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-title {
        text-align: center;
        font-weight: normal;
        font-size: 35px;
        line-height: 41px;
        color: #FFFFFF;
        margin-bottom: 42px;
    }

    &-subtitle {
        text-align: center;
        font-weight: normal;
        font-size: 23px;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 27px;
    }

    &-cards {
        max-width: 1312px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.policy {

    &-card {
        position: relative;
        display: flex;
        align-items: center;
        width: calc(33% - 39px);
        margin: 20px;

        &-image {
            width: 100%;
        }

        &-title {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 43.5%;
            font-weight: normal;
            font-size: 23px;
            line-height: 30px;
            color: #222222;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.83);

            &-active {
                top: 0;
                height: 100%;
            }
        }

        &-tooltip {
            position: absolute;
            left: 80%;
            width: 440px;
            padding: 16px 16px 16px 60px;
            background-color: #DADADA;
            clip-path: polygon(100% 0, 100% 100%, 20px 100%, 0 50%, 20px 0);
            z-index: 1;
            animation: fadeIn 0.5s;
        }

        &:nth-child(3n) &-tooltip {
            left: -120%;
            clip-path: polygon(0 0, 0 100%, 490px 100%, 100% 50%, 490px 0);
            padding: 16px 60px 16px 16px;
            
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 425px) {

    .policies {
        padding: 30px 20px;
    
        &-title {
            font-size: 27px;
            line-height: 32px;
            margin-bottom: 30px;
        }
    
        &-subtitle {
            display: none;
        }
    
        &-cards {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    .policy {

        &-card {
            flex-direction: column;
            margin: 10px;
            width: 82vw;
            
            &:nth-child(n) &-tooltip {
                position: absolute; 
                padding: 16px;
                top: 0;
                left: 0;
                width: calc(82vw - 32px);
                min-height: 183px;
                clip-path: none;
                background-color: #DADADA;
                z-index: 1;
                animation: fadeIn 0.5s;
            }
        }

    }
}