.policies {
    padding: 50px 0;

    &-title {
        text-align: center;
        font-weight: normal;
        font-size: 35px;
        line-height: 41px;
        color: #FFFFFF;
        margin-bottom: 42px;
    }

    &-subtitle {
        text-align: center;
        font-weight: normal;
        font-size: 23px;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 27px;
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.policy {

    &-card {
        position: relative;
        display: flex;
        align-items: center;
        width: calc(33% - 70px);
        margin: 20px;

        &-image {
            height: 240px;
        }

        &-title {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 43.5%;
            font-weight: normal;
            font-size: 23px;
            line-height: 30px;
            color: #222222;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.83);

            &-active {
                top: 0;
                height: 100%;
            }
        }

        &-tooltip {
            position: absolute;
            left: 80%;
            width: 440px;
            padding: 16px 16px 16px 60px;
            background-color: #DADADA;
            clip-path: polygon(100% 0, 100% 100%, 20px 100%, 0 50%, 20px 0);
            z-index: 1;
            animation: fadeIn 0.5s;
        }

    }
    
}

.policy-card:nth-child(3n) .policy-card-tooltip {
    left: -120%;
    clip-path: polygon(0 0, 0 100%, 490px 100%, 100% 50%, 490px 0);
    padding: 16px 60px 16px 16px;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}